body {
    background-color: black;
    font-family: "FuturaStd" sans-serif;
}
#plateau_jeu {
    background-color: none;
    color: black;
    width: 750px;
    height: 570px;
}
#memoire {
    background: white;
    color: black;
    width: 244px;
    height: 70px;
    margin-top: 540px;
    margin-left: -150px;
}
#joueur {
    background: white;
    color: black;
    width: 244px;
    height: 170px;
    margin-top: 310px;
    margin-left: -400px;
    
}
#nom_coups {
    background: white;
    color: black;
    width: 200px;
    height: 100px;
    margin-top: 506px;
    margin-left: -100px;
    
}
#noCoup_valide,
#random_valide,
#bouton1,
#bouton2,
#first_mem,
#arriere_mem,
#avant_mem,
#last_mem
{
    background: none;
    color: black;
    border: thin solid black;
}
#noCoup_valide:hover,
#random_valide:hover,
#bouton1:hover,
#bouton2:hover,
#first_mem:hover,
#arriere_mem:hover,
#avant_mem:hover,
#last_mem:hover
{
    background: #0bc60b;
    color: white;
}
#bouton1, #bouton2{
    height: 60px;
    margin-top: 3px;
}
#boutons {
    background-color: white;
    color: black;
    width: 200px;
    height: 66px;
    margin-top: 610px;
    margin-left: -606px;
}
#random_shit {
    position: absolute;
    background: white;
    width: 244px;
    height: 96px;
    margin-top: 140px;
    margin-left: -150px;
}
#random_value {
    background: none;
    border-bottom: thin solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
#plateau_jeu {
    position: absolute;
    left: 55px;
    top: 10px;
    margin-left: 250px;
    z-index: 300;
    color: black;
    visibility: visible;
}
#nom_coups {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 300;
    color: black;
    visibility: visible;
}
#text_jeu {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 300;
    color: black;
    visibility: visible;
}
#boutons {
    position: absolute;
    left: 506px;
    top: 0px;
    z-index: 300;
    color: black;
    visibility: visible;
}
#goban {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 6;
    visibility: visible;
}
#memoire {
    position: absolute;
    left: 506px;
    top: 66px;
    z-index: 300;
    color: black;
    visibility: visible;
}
#joueur {
    position: absolute;
    left: 506px;
    top: 196px;
    z-index: 300;
    color: black;
    visibility: visible;
}
#random_shit {
    position: absolute;
    left: 506px;
    top: 366px;
    z-index: 300000;
    color: black;
    visibility: visible;
}
#random_valide {
    width: 122px;
    height: 50px;
    z-index: 30000;
    color: black;
    visibility: visible;
}
#affichage{
    width: 150px;
    height: 150px;
    background: white;
}
#y2, #x2, #y1, #x1{
    display: inline-block;
}